@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<!--<h3>@ViewData["Message"]</h3>-->

<address>
    Peter Klein
    <br />
    Mesquite, TX 75149<br />
    <abbr title="Phone">P:</abbr>
    214-507-1728
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Support@byud.com">Support@byud.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@byud.com">Marketing@byud.com</a>
</address>
