@{
    ViewData["Title"] = "Home Page";
}

    <div class="jumbotron">
        <h1 id="titulo">Brigham Young University - Dallas</h1>
        
    </div>
    <div class="text-center" id="foto">

       <img src="/images/portada1.jpg" alt=" portada" />
    </div>
   
   